<ion-header>
    <ion-navbar *ngIf="!shouldSearch">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>EduPath</ion-title>

        <ion-buttons end>
            <button ion-button transparent (click)="toggleSearch()">
                <ion-icon name="search"></ion-icon>
            </button>
            <button *ngIf="courses.length > 2" ion-button transparent (click)="compareAll()">
                Compare ALL
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-navbar *ngIf="shouldSearch">
        <ion-searchbar #searchbar (ionInput)="search($event)" debounce="300" placeholder="Name, Course Code or Score"></ion-searchbar>
        <ion-buttons end>
            <button ion-button transparent (click)="toggleSearch()">Cancel</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item-divider *ngIf="courses.length == 0 && !isEmpty">
        <ion-spinner class="center"></ion-spinner>
    </ion-item-divider>
    <ion-item-divider class="center" text-wrap *ngIf="isEmpty">
        <h2>Click on the <ion-icon color="danger" name="heart-outline"></ion-icon> icon to add Courses</h2>
        <br />
        <p>Once this list have more than 2 courses, the compare all option will be activated.</p>
        <br />
        <p>Hit <ion-icon name="menu"></ion-icon> to start browsing Courses now!</p>
        <br />
        <p>Tip: Long press for Quick Compare</p>
    </ion-item-divider>
    <ion-list>
        <div class="selection" [hidden]="selection.length == 0">
            <ion-list>
                <ion-item *ngFor="let selected of selection" (click)="removeSelection($event, selected)">
                    <div item-right>
                        <ion-icon name="close"></ion-icon>
                    </div>
                    <course-list-item [course]="selected"></course-list-item>
                </ion-item>
            </ion-list>
            <button ion-button full [outline]="isActivated" [disabled]="isActivated" (click)="quickCompare($event)">
                {{compareText}}
            </button>
            <button ion-button full color="danger" (click)="clearSelection($event)">
                clear
            </button>
        </div>
        <ion-item *ngFor="let course of (courses | filterCourse: search_key)" (press)="onHold($event, course)" (click)="courseClick($event, course)" (tap)="placeholder()">
            <course-list-item [course]="course"></course-list-item>
            <div class="extras" item-right (click)='favourite($event, course.id)'>
                <p>{{course.poly}}</p>
                <p>{{course.score}} pts</p>
                <button class="transparent_btn">
                    <ion-icon [name]="isFav(course.id) ? 'heart' : 'heart-outline'" class="heart"></ion-icon>
                </button>
            </div>
        </ion-item>
        <!--<ion-infinite-scroll [enabled]="infEnabled" (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles"
                                         loadingText="Loading more courses..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>-->
    </ion-list>
</ion-content>
