<ion-card>
    <ion-item class="card-header" text-wrap *ngIf="!courses">
        <course-list-item [course]="course"></course-list-item>
    </ion-item>

    <ion-item class="card-header" text-wrap *ngIf="courses">
        <button color="faded" ion-button clear item-left icon-only (click)="left($event)">
            <ion-icon name="arrow-dropleft-circle"></ion-icon>
        </button>
        <course-list-item [course]="course" (click)="select($event)"></course-list-item>
        <button color="faded" ion-button clear item-right icon-only (click)="right($event)">
            <ion-icon name="arrow-dropright-circle"></ion-icon>
        </button>
    </ion-item>

    <ion-grid class="card-header" no-padding>
        <ion-row>
            <ion-col>
                <button class="text-on-bottom" color="text" ion-button clear full (click)="toggleFav(course.id)">
                    <ion-icon class="btn-icon" color="danger" [name]="isFav(course.id) ? 'heart' : 'heart-outline'"></ion-icon>
                    Favourite
                </button>
            </ion-col>
            <ion-col>
                <button class="text-on-bottom" color="text" ion-button clear full [disabled]="!course.url" (click)="goToWebsite(course.url)">
                    <ion-icon class="btn-icon" name="link"></ion-icon>
                    Website
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="information card-header">
        <ion-item>
            <strong>Course Code</strong>
            <ion-spinner item-right *ngIf="!course.id"></ion-spinner>
            <p item-right *ngIf="course.id">{{course.id}}</p>
        </ion-item>
        <ion-item>
            <strong>School</strong>
            <ion-spinner item-right *ngIf="!course.poly"></ion-spinner>
            <p item-right *ngIf="course.poly">{{course.poly}}</p>
        </ion-item>
        <ion-item>
            <strong>Year</strong>
            <ion-spinner item-right *ngIf="!course.year"></ion-spinner>
            <p item-right *ngIf="course.year">{{course.year}}</p>
        </ion-item>
        <ion-item>
            <strong>Score</strong>
            <ion-spinner item-right *ngIf="!course.score"></ion-spinner>
            <p item-right *ngIf="course.score">{{course.score}} pts</p>
        </ion-item>
        <ion-item>
            <strong>Cluster</strong>
            <ion-item>
                <ion-spinner item-right *ngIf="!course.cluster"></ion-spinner>
                <p *ngIf="course.cluster">{{course.cluster}}</p>
            </ion-item>
        </ion-item>
    </div>

    <ion-card-content class="card-header" *ngIf="course.description">
        <p [innerHTML]="course.description"></p>
    </ion-card-content>

    <ion-card-content class="card-header" *ngIf="!course.description && !course.structure">
        <p class="center">Sorry, unable to get the details</p>
        <p class="center">Try visiting their website</p>
    </ion-card-content>

    <div *ngFor="let header of course.structure | objKeys">
        <ion-item-divider class="top-divider" (click)="toggleHidden($event, header)">
            {{ header | removeJsonIndex }}
            <ion-icon item-right [name]="isHidden(header) ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon>
        </ion-item-divider>
        <div *ngIf="!isArray(header)">
            <div *ngFor="let subHeader of course.structure[header] | objKeys" [hidden]="isHidden(header)">
                <ion-item-divider class="no-last-list-div subheader"
                                  (click)="toggleHidden($event, header, subHeader)">
                    {{ subHeader | removeJsonIndex }}
                    <ion-icon item-right [name]="isHidden(header, subHeader) ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon>
                </ion-item-divider>
                <ion-item class="subheader information" [hidden]="isHidden(header, subHeader)">
                    <p text-wrap *ngFor="let detail of course.structure[header][subHeader]">
                        {{ detail }}
                    </p>
                </ion-item>

            </div>
        </div>
        <div *ngIf="isArray(header)">
            <ion-item [hidden]="isHidden(header)" class="information">
                <p text-wrap *ngFor="let detail of course.structure[header]">
                    {{ detail }}
                </p>
            </ion-item>
        </div>
    </div>
</ion-card>