course-item {
    .text-on-bottom > .button-inner {
        flex-direction: column;
        display: flex;
    }

    .text-on-bottom {
        overflow: hidden;
        min-height: 70px;
        margin: 0;
    }

    .btn-text {
        font-size: 1.4rem;
        text-transform: none;
    }

    .btn-icon {
        padding: 8px 8px 8px 8px;
    }

    .card-header {
        border-bottom: 1px solid #dedede;
    }

    .information{
        background-color: #ededed !important;
    }

    .top-divider {
        /*border-top: 1px solid #dedede;*/
        margin-bottom: 0px;
        font-weight: bold;
        color: black;
    }

    .item-md {
        background-color: transparent;
    }

    .no-last-list-div:last-child {
        border-bottom: 0px;
        border-bottom-width: 0px;
        background-color: gray;
    }

    .subheader {
        padding-left: 32px;
    }
}
