page-multi-compare {
    .child {
        height: 50%;
    }

    .child:first-child {
        border-bottom: 2px solid #dedede
    }

    .child:last-child {
        border-top: 2px solid #dedede
    }

    .parent {
        height: 100%;
    }

    .details {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 9px;
        margin-bottom: 9px;
        text-align: justify;
        text-justify: inter-word;
    }
}
